
/* ----------------------------- */
/*   Animation                   */
/* ----------------------------- */
/*

Créez une animation automatique :
- à 100% de l'animation : tournez chaque image de 360 degrés
- durée de transition : 1s
- l'animation débute à 2sec après le chargement de page 
- une seule itération de l'animation

Au survol des images :
- tournez également l'image survolée (durée de transition : 1s)

*/

body {margin:0; padding:10px 40px; background:#F1EFE2;
	font-size: 1.4em;
	font-family: georgia, "trebuchet ms", arial, serif;}
h1 {margin-top: 20px; margin-bottom: 40px;
	color: #345; text-shadow: 1px 1px 1px #fff;}
p {color: #555;}